force-app/main/default/flows/Create_Change_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Screen_Elements</name>
        <label>Assign Screen Elements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ChangeRequest.Additional_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChangeRequest.Additional_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Hours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChangeRequest.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChangeRequest.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CRName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Change_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCRContract</name>
        <label>AssignCRContract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ChangeRequest.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChangeRequest.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Change_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCRProject</name>
        <label>AssignCRProject</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ChangeRequest.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChangeRequest.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.Contract__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Change_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Count</name>
        <label>Get Change Request Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CRCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Change_Request</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_how_many_CRs</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_CR_Name</name>
        <label>Check CR Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Project_Phase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CR1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CRName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change Request 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Project_Phase_CR1</targetReference>
            </connector>
            <label>CR1</label>
        </rules>
        <rules>
            <name>CR2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CRName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change Request 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Project_Phase_CR2</targetReference>
            </connector>
            <label>CR2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_how_many_CRs</name>
        <label>Check how many CRs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Info_Message_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>less_than_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CRCount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Change_Request_Screen</targetReference>
            </connector>
            <label>less than 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Starts_from_Project</name>
        <label>Check if Starts from Project</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCRProject</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Project Phase Creation added
CR1 / CR2 hours added</description>
    <environments>Default</environments>
    <formulas>
        <name>NextNum</name>
        <dataType>Number</dataType>
        <expression>VALUE(SUBSTITUTE({!Get_Project_Phases.Phase_Number__c}, &quot;.&quot;, &quot;&quot;))+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Create Change Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Change Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Change_Request</name>
        <label>Create Change Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_CR_Name</targetReference>
        </connector>
        <inputReference>ChangeRequest</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Project_Phase</name>
        <label>Create Project Phase</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>CRName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase_Number__c</field>
            <value>
                <elementReference>ProjectPhase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>ChangeRequest.Project__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Project_Phase_CR1</name>
        <label>Create Project Phase CR1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>CR_1_Hours__c</field>
            <value>
                <elementReference>Additional_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>CRName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase_Number__c</field>
            <value>
                <elementReference>ProjectPhase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>ChangeRequest.Project__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Project_Phase_CR2</name>
        <label>Create Project Phase CR2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>CR_2_Hours__c</field>
            <value>
                <elementReference>Additional_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>CRName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase_Number__c</field>
            <value>
                <elementReference>ProjectPhase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>ChangeRequest.Project__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Change_Request</name>
        <label>Get Change Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project_Phases</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract.Project__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ChangeRequest</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignCRContract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Starts_from_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Phases</name>
        <label>Get Project Phases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Count</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract.Project__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Phase__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Change_Request_Screen</name>
        <label>Create Change Request Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Screen_Elements</targetReference>
        </connector>
        <fields>
            <name>Additional_Hours</name>
            <dataType>Number</dataType>
            <fieldText>Additional Hours</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Additional_Cost</name>
            <dataType>Currency</dataType>
            <fieldText>Additional Cost</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Info_Message_Screen</name>
        <label>Info Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Change_Request_Screen</targetReference>
        </connector>
        <fields>
            <name>Info_message</name>
            <fieldText>&lt;p&gt;The &lt;strong&gt;Project Management module&lt;/strong&gt; can handle up to &lt;strong&gt;2 &lt;/strong&gt;Change Requests. If you proceed &lt;strong&gt;will not be able to sum &lt;/strong&gt;for the&lt;strong&gt; additional Change Requests&lt;/strong&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Project</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CRName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Change Request {!CRCount}</text>
    </textTemplates>
    <textTemplates>
        <name>ProjectPhase</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!NextNum}.</text>
    </textTemplates>
    <variables>
        <name>ChangeRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ChangeRequest</objectType>
    </variables>
    <variables>
        <name>CRCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PPCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
