force-app/main/default/flows/Opportunity_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Not_Manage_Services</name>
        <label>Is Not Manage Services</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Managed Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Project_Phases</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main_Decision</name>
        <label>Main Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_To_Opportunity</targetReference>
            </connector>
            <label>Is New</label>
        </rules>
        <rules>
            <name>Opportunity_Set_To_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contract</targetReference>
            </connector>
            <label>Opportunity Set To Closed Won</label>
        </rules>
        <rules>
            <name>Opportunity_Set_To_Proposal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Proposal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Planning_Analysis</targetReference>
            </connector>
            <label>Opportunity Set To Proposal</label>
        </rules>
        <rules>
            <name>Signature_Reminders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estimated_Signature_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Admin</targetReference>
            </connector>
            <label>Signature Reminders</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tasks_Exists</name>
        <label>Tasks Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Task_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Old_Tasks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updates the opportunity name based on Account and Product Interest
Adds Project Phases when stage set to Proposal
Contract updated with project
Create project phases
Update contract fields
Assign product to new opportunity
Phases only  for Project opps
Reminders added
Subcontractors related  to project</description>
    <environments>Default</environments>
    <formulas>
        <name>Day1</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Estimated_Signature_Date__c} + 1</expression>
    </formulas>
    <formulas>
        <name>Days3</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Estimated_Signature_Date__c} - 3</expression>
    </formulas>
    <interviewLabel>Opportunity Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Trigger Flow</label>
    <loops>
        <name>Loop_Project_Phases</name>
        <label>Loop Project Phases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Opportunity_Project_Phases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Parrent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Subcontractors_Parnters</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Subcontractors</name>
        <label>Loop Subcontractors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Subcontractors_Parnters</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Subcontractors</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Clone_Project_Phase</name>
        <label>Clone Project Phase</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Project_Phases</targetReference>
        </connector>
        <inputAssignments>
            <field>CR_1_Hours__c</field>
            <value>
                <elementReference>Loop_Project_Phases.CR_1_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CR_2_Hours__c</field>
            <value>
                <elementReference>Loop_Project_Phases.CR_2_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Loop_Project_Phases.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours__c</field>
            <value>
                <elementReference>Loop_Project_Phases.Hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Phase__c</field>
            <value>
                <elementReference>Loop_Project_Phases.Is_Phase__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>Loop_Project_Phases.Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Phase__c</field>
            <value>
                <elementReference>Get_Parrent.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase_Number__c</field>
            <value>
                <elementReference>Loop_Project_Phases.Phase_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Create_Project.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contract</name>
        <label>Create Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_End_Date__c</field>
            <value>
                <elementReference>$Record.Contract_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerSignedDate</field>
            <value>
                <elementReference>$Record.Estimated_Signature_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerSignedId</field>
            <value>
                <elementReference>$Record.Signatory__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signatory__c</field>
            <value>
                <elementReference>$Record.Signatory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signature_Date__c</field>
            <value>
                <elementReference>$Record.Estimated_Signature_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.Contract_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Data_Migration</name>
        <label>Create Data Migration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Migration</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Phase__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Data Migration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase_Number__c</field>
            <value>
                <stringValue>5.</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Go_Live</name>
        <label>Create Go-Live</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Warranty</targetReference>
        </connector>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Go-Live</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Phase__c</field>
            <value>
                <elementReference>Create_Testing_Training_Go_Live.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase_Number__c</field>
            <value>
                <stringValue>6.4.</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Implementation</name>
        <label>Create Implementation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Integrations</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Phase__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Implementation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase_Number__c</field>
            <value>
                <stringValue>2.</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Integrations</name>
        <label>Create Integrations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Reporting</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Phase__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Integrations</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase_Number__c</field>
            <value>
                <stringValue>3.</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Kick_Off</name>
        <label>Create Kick-Off</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Requirements_Gathering</targetReference>
        </connector>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Kick-Off</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Phase__c</field>
            <value>
                <elementReference>Create_Planning_Analysis.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase_Number__c</field>
            <value>
                <stringValue>1.1.</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Migration</name>
        <label>Create Migration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Users_Profiles_Permissions</targetReference>
        </connector>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Migration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Phase__c</field>
            <value>
                <elementReference>Create_Data_Migration.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase_Number__c</field>
            <value>
                <stringValue>5.1.</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Planning_Analysis</name>
        <label>Create Planning &amp; Analysis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Kick_Off</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Phase__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Planning &amp; Analysis</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase_Number__c</field>
            <value>
                <stringValue>1.</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Project</name>
        <label>Create Project</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>Create_Contract.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_QA_Bug_Fix</name>
        <label>Create QA &amp; Bug Fix</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_UAT</targetReference>
        </connector>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>QA &amp; Bug Fix</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Phase__c</field>
            <value>
                <elementReference>Create_Testing_Training_Go_Live.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase_Number__c</field>
            <value>
                <stringValue>6.1.</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Reporting</name>
        <label>Create Reporting</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Data_Migration</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Phase__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Reporting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase_Number__c</field>
            <value>
                <stringValue>4.</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Requirements_Gathering</name>
        <label>Create Requirements Gathering</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Implementation</targetReference>
        </connector>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Requirements Gathering</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Phase__c</field>
            <value>
                <elementReference>Create_Planning_Analysis.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase_Number__c</field>
            <value>
                <stringValue>1.2.</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_1</name>
        <label>Create Task +1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Day1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Admin.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>Day1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Signature Reminder 1 Days After</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Signatory__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_3</name>
        <label>Create Task -3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Task_1</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Days3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Admin.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>Days3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Signature Reminder 3 Days Before</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Signatory__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Testing_Training_Go_Live</name>
        <label>Create Testing, Training, Go-Live</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_QA_Bug_Fix</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Phase__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Testing, Training, Go-Live</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase_Number__c</field>
            <value>
                <stringValue>6.</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Training</name>
        <label>Create Training</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Go_Live</targetReference>
        </connector>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Training</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Phase__c</field>
            <value>
                <elementReference>Create_Testing_Training_Go_Live.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase_Number__c</field>
            <value>
                <stringValue>6.3.</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_UAT</name>
        <label>Create UAT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Training</targetReference>
        </connector>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>UAT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Phase__c</field>
            <value>
                <elementReference>Create_Testing_Training_Go_Live.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase_Number__c</field>
            <value>
                <stringValue>6.2.</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Users_Profiles_Permissions</name>
        <label>Create Users, Profiles &amp; Permissions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Testing_Training_Go_Live</targetReference>
        </connector>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Users, Profiles &amp; Permissions</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Phase__c</field>
            <value>
                <elementReference>Create_Data_Migration.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase_Number__c</field>
            <value>
                <stringValue>5.2.</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Warranty</name>
        <label>Create Warranty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Is_Phase__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Warranty</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase_Number__c</field>
            <value>
                <stringValue>7.</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Old_Tasks</name>
        <label>Delete Old Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Task_3</targetReference>
        </connector>
        <inputReference>Get</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get</name>
        <label>Get Signature Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tasks_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Signature</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Admin</name>
        <label>Get Admin</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Faidon Giachanatzis</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Project_Phases</name>
        <label>Get Opportunity Project Phases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Project_Phases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parrent</name>
        <label>Get Parrent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clone_Project_Phase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phase_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Project_Phases.Parent_Phase__r.Phase_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Project.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subcontractors_Parnters</name>
        <label>Get Subcontractors  /  Parnters</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Subcontractors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Subcontractor_Partner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Not_Manage_Services</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Contract.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Create_Project.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contracts__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Subcontractors</name>
        <label>Update Subcontractors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Subcontractors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Subcontractors.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Create_Project.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Subcontractor_Partner__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Main_Decision</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assign_Product_To_Opportunity</name>
        <label>Assign Product To Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Assign_Product_To_Opportunity</flowName>
        <inputAssignments>
            <name>OpportunityId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
